<a href="https://colab.research.google.com/github/Sana555-Attar/blog-repo/blob/master/List1_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#(1)write a python code to print all negative elements in an list
L=[2,3,4,-2]
for i in L:
   if (i<0):
        print(i)

-2

In [ ]:
#(2)write a python code to find sum of all list elements?
L=[1,2,3,4,5]
sum=0
for i in L:
  sum=sum+i
print(sum)

15

In [ ]:
#(3)write a python code to find max and min element in list?
L=[1,2,3,4,5]
s=max(L)
p=min(L)
print(s)
print(p)

5
1

In [ ]:
#(4)write a python code to find second largest element in list?
l=[5,3,4,1,2]
l.sort(reverse=True)
print(l[1])

4

In [ ]:
#(5)write python code to count total number of even and odd elements in list?
l=[5,1,0,15,20,25]
count=0
count1=0
for i in l:
    if (i%2==0):
        count=count+1
    else:
        count1=count1+1 
print(count)
print(count1)

2
4

In [ ]:
#(6)write a python code to count total number of negative element in list?
l=[1,-4,6,-8,5,-1]
count=0
for i in l:
  if (i<0):
    count=count+1
print(count)

3

In [ ]:
#(7)write a python code to copy all element from one list to another list?
l=[1,2,3,4,5]
l1=l.copy()
print(l1)

[1, 2, 3, 4, 5]

In [ ]:
#(8(a))write a python code to remove the duplicate from a list?
l=[1,2,1,4,5,1]
l1=[]

for i in l:
    if (i in l1):
        l.remove(i)
    else:
        l1.append(i)
print(l)

[2, 4, 5, 1]

In [ ]:
#(8b)
l=[1,2,1,4,]
l1=[]
for i in l:
  if i not in l1:
    l1.append(i)
print(l1)

[1, 2, 4]

In [ ]:
#(9)write python pgm to find the list of words that are longer than given list of words?
def longer_words(n,str):
    word_list=[]
    str1=str.split(" ")
    for i in str1:
        if (len(i)>n):
            word_list.append(i)
    return word_list
print(longer_words(5,"Asha Usha Amruta Jyoti Sana Kavita"))

['Amruta', 'Kavita']

In [ ]:
#(11)write a python pgm to get the freq of the element in a list?
l=["maths","physics","maths","chemistry","physics","physics"]
dict={}
for i in l:
  if (i in dict):
    dict[i]+=1
  else:
      dict[i]=1

for key,value in dict.items():
    print(key," ",value)

maths   2
physics   3
chemistry   1

In [ ]:
#(11)=====>using funtion
def freq_word(l1):
    dict={}
    for i in l1:
      if i in dict:
        dict[i]+=1
      else:
        dict[i]=1
    return dict     


l=["maths","physics","maths","chemistry","pyhsics","physics"]
print(freq_word(l))

{'maths': 2, 'physics': 2, 'chemistry': 1, 'pyhsics': 1}

In [ ]:
#ans(11)=====>another method
def freq_word(l1):
    dict={}
    for i in l1:
      if i in dict:
        dict[i]+=1
      else:
        dict[i]=1
    return dict     

print("enter the number of element:")
n=int(input())

l=[]

print("enter the strings")
for i in range(n):
  s=input()
  l.append(s)

print(freq_word(l))

enter the number of element:
5
enter the strings
maths
physics
biology
arbic
arbic
{'maths': 1, 'physics': 1, 'biology': 1, 'arbic': 2}

In [ ]:

#(12)write a python pgm to find common items from two lists?
l1=["maths","kannada",1,"a",2]
l2=["kannada","pysics",1,"a",2]
for i in l1:
  if (i in l2):
    print(i)

kannada
1
a
2